<!DOCTYPE html>
<html lang="en" ng-app='app'> <!--Define Angular App from bower_components-->
<head>
    <meta charset="UTF-8">
    <title>OzzBall</title>
    <link rel="stylesheet" href="../../bower_components/semantic/dist/semantic.min.css" /> <!--Semantic-UI-Angular is a pure AngularJS 1.x set of directives for Semantic-UI components.s-->
    <link rel="stylesheet" href="../../public/stylesheets/style.css"> <!--Define our style css in public styleheets-->
</head>
<body>

<div class="ui one column stackable center aligned page grid margin-30" ng-controller="indexController"  ng-init='init()'> <!--Define indexController from angular side in public/js folder-->
    <div class="column twelve wide">
        <!--Get position from the user, send onClickPlayer function-->
        <div class="ui stacked segment gameArea" ng-click=onClickPlayer($event)>
            <div class="circle" ng-repeat='player in players' ng-style="{'left':player.position.x + 'px', 'top':player.position.y + 'px', 'backgroundColor': player.color}" id="{{player.id}}">
                <div class="relative">
                    <span class="name">{{player.username}}</span>
                    <div class="message">Selam</div>
                </div>
            </div>
        </div>

        <div class="ui items chat">
            <div class="item" ng-repeat='message in messages'>
                <div class="content" ng-if='!message.type.code'> <!--if type=0, message comes from server side-->
                    <span>[SERVER]</span>
                    &nbsp;
                    <a class="header name">{{message.username}}</a>
                    &nbsp;
                    <!--if messageType=1 user joinde the room-->
                    <div class="description message" ng-if='message.type.messageType'>joined the room.</div>
                    <!--if messageType=0 user disconnect the room-->
                    <div class="description message" ng-if='!message.type.messageType'>disconnected the room.</div>
                </div>
            </div>
        </div>

        <div class="ui action input fluid">
            <input type="text" placeholder="Type here...">
            <button class="ui button">Send</button>
        </div>
    </div>
</div>

</body>
</html>


<!--AngularJs from Bower-->
<script src="../../bower_components/angular/angular.min.js"></script>

<!--MainJs from public/js-->
<script src="../../public/javascripts/main.js"></script>

<!--Socketio-->
<script src="/socket.io/socket.io.js"></script>

<!--Client side indexController-->
<script src="../../public/javascripts/controllers/indexController.js"></script>

<!--Client side indexFactory for socket connection-->
<script src="../../public/javascripts/services/indexFactory.js"></script>

<!--Import jQuery-->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>



